/*  Version 0.7.1E (Experimental)
    github.com/HueBy1e
    Maintained by @HueByte


    Arigatō (thanks you) to, for all help & snippets:

    @Chetachie        https://www.buymeacoffee.com/chetachi
    @kepano           https://www.buymeacoffee.com/kepano

/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- Root & Variables */

.theme-dark {
    /* GRAPH SETTINGS */
    --graph-line: #c3c1fc !important;
    --graph-line-highlight: #c3c1fc !important; 
    --graph-circle-fill: var(--tx2)  !important;
    --graph-circle-fill-highlight: #ffffff !important; 
    --graph-circle-fill-unresolved: var(--tx2) !important; 
    --graph-fill-tag: #c3c1fc !important; 

    --graph-arrow: transparent; 
    --graph-circle-outline: transparent;
    --graph-fill-attachment: #3d4044 !important;

    --avty-cell: #1c1e21 !important;

    --tx2: hsl( var(--base-h), calc(var(--base-s) - 20%), calc(var(--base-l) + 45%) );
} 

.theme-light {
    /* GRAPH SETTINGS */
    --graph-line: #CDD5D1 !important;
    --graph-line-highlight: #CFFF00 !important; 
    --graph-circle-fill: #CFD2CD !important;
    --graph-circle-fill-highlight: #ffffff !important; 
    --graph-circle-fill-unresolved: #CDD5D1 !important; 
    --graph-fill-tag: #CFFF00 !important; 

    --graph-arrow: transparent; 
    --graph-circle-outline: transparent;
    --graph-fill-attachment: #CFD2CD  !important;

    --avty-cell: #ebedf0 !important;
}

/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- Graph View (Canvas) */

/* Variable Re-Definitions */
.graph-view.color-fill-attachment {
    color: var(--graph-fill-attachment) !important;
}
  
.graph-view.color-fill-unresolved {
    color: var(--graph-circle-fill-unresolved);
    opacity: 0.3;
}

.theme-dark .graph-view.color-fill-unresolved {
    color: var(--graph-circle-fill-unresolved);
    opacity: 0.3;
}

.graph-view.color-arrow {
    color: var(--graph-arrow);
    opacity: 0.7;
}
  
.theme-dark .graph-view.color-line {
    color: var(--graph-line);
    opacity: 1;
}
  
.theme-light .graph-view.color-line {
    color: var(--graph-line);
    opacity: 0.3;
}
  
.graph-view.color-line-highlight {
    color: var(--graph-line-highlight);
}
  
.theme-dark .graph-view.color-fill-tag {
    color: var(--graph-fill-tag);
}
  
.theme-light .graph-view.color-fill-tag {
    color: var(--graph-fill-tag);
}
  
.graph-view.color-circle {
    color: var(--graph-circle-outline);
}
  
.graph-view.color-fill {
    color: var(--graph-circle-fill);
    opacity: .75;
}
  
.graph-view.color-fill-highlight {
    color: var(--graph-circle-fill-highlight);
}

/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- Plugin Adjustments */

/* Quick Switcher */
div #quick-explorer {
    background-color: transparent !important;
    font-family: Inter;
    padding-bottom: 2px;
}

/* Activity Tracker */
.selectYear {
    margin: 10px !important;
    border-radius: 0 !important;
    border-color: transparent !important;
    background: transparent !important;
    font-family: Inter;
    color: var(--text-bold) !important;
}
  
.HistoryBoard > svg > text {
    font-family: Inter;
    fill: var(--text-bold) !important;
}
  
.HistoryBoard > svg > g > text {
    font-family: Inter;
    fill: var(--text-bold) !important;
}
  
.dropdown, select {
    box-shadow: none !important;
}

.HistoryBoard rect[data-value="0"] {
    fill: var(--avty-cell);
}