/*  Version 0.6.1E (Experimental)
    github.com/HueBy1e
    Maintained by @HueByte

— Convert .ttf font to base64       https://transfonter.org/
— Resources (Ico)                   https://iconify.design/icon-sets/     https://www.flaticon.com/uicons
— SVG File to SVG Code              https://www.svgminify.com/
- SVG Code to CSS Code              https://codepen.io/elliz/pen/ygvgay

Arigatō (thanks you) to, for all help & snippets:

@Chetachie        https://www.buymeacoffee.com/chetachi
@jdanielmourao    https://ko-fi.com/jdanielmourao
@kepano           https://www.buymeacoffee.com/kepano

/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- Root & Variables */

.theme-dark {
  --titlebar-height: 24px !important;

  --accent-h:24;   /* Accent hue */
  --accent-s:59%;   /* Accent saturation */
  --accent-d:71%;   /* Accent lightness Dark Mode */
  --accent-l:71%;   /* Accent lightness Light Mode */

  --bg-light: #0a0c0e;
  --background-primary: var(--bg-light);
  --background-primary-alt: var(--bg-light);
  --background-secondary: var(--bg-light);
  --background-secondary-alt: var(--bg-light);
} 

.theme-light {
  --titlebar-height: 24px !important;

  --accent-h:24;   /* Accent hue */
  --accent-s:59%;   /* Accent saturation */
  --accent-d:71%;   /* Accent lightness Dark Mode */
  --accent-l:71%;   /* Accent lightness Light Mode */

  --bg-light: #FAF9F6;
  --background-primary: var(--bg-light);
  --background-primary-alt: var(--bg-light);
  --background-secondary: var(--bg-light);
  --background-secondary-alt: var(--bg-light);
} 

/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- UI Elements */

/* Title Bar */
.titlebar-text {
    display: none;
}


.view-action {
    margin: 0 8px;
    cursor: pointer;
    color: var(--text-muted);
    position: relative;
    top: 3px;
}


/* Vault Title */
.nav-folder.mod-root > .nav-folder-title .nav-folder-title-content {
    display: none;
    color: var(--text-muted);
    font-size: var(--small-font-size);
    line-height: 1.15em;
    text-transform: uppercase;
    margin-left: -2px;
}


/* Status Bar @Minimal */
body:not(.minimal-status-off) div.status-bar {
  position: absolute;
  width: 30%;
  margin-top: -22px;
  opacity: .8;
  right: 120px;
  bottom: unset;
  background-color: transparent;
  border: none;
  border-top: none;
  font-size: 12px;
  font-family: Inter;
  color: var(--text-bold);
}

.nav-buttons-container {
  padding: 3px 0px 0px 8px;
}

.status-bar-item-segment {
  display: inline;
}

/* Command Palette */
.theme-light kbd, .theme-light .setting-hotkey {
  box-shadow: 0px -2px 0px 0px rgb(100 100 100 / 10%) inset, 0px 2px 4px 0px rgb(100 100 100 / 10%);
  border: 1px solid rgba(100, 100, 100, 0.1);
}

/* Quick Switcher Plugin */
div #quick-explorer {
    background-color: transparent !important;
}

/* Note Header Title Position */


body:not(.is-mobile) .workspace-leaf.mod-active > .workspace-leaf-content > .view-header > .view-header-title-container .view-header-title {
  padding: 1px 0;
  display: flex;
}

/* File Explorer + Notes Icons */
.nav-folder {
  font-family: Inter;
}

.nav-file {
  margin-left: 8px;
  font-weight: 400;
}

.nav-folder-collapse-indicator, .tree-item-self .collapse-icon {
  margin-left: -10px;
  margin-right: 6px;
}

.nav-file-title-content::before {
  display: inline-block;
  content: "";
  font-size: 1rem;
  vertical-align: -1px;
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}

body.no-file-icons .nav-file-title-content:before {
  display: none;
}

.nav-folder-children .nav-file-title-content:first-child::before {
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg data-name='Layer 1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m17 14a1 1 0 0 1 -1 1h-8a1 1 0 0 1 0-2h8a1 1 0 0 1 1 1zm-4 3h-5a1 1 0 0 0 0 2h5a1 1 0 0 0 0-2zm9-6.515v8.515a5.006 5.006 0 0 1 -5 5h-10a5.006 5.006 0 0 1 -5-5v-14a5.006 5.006 0 0 1 5-5h4.515a6.958 6.958 0 0 1 4.95 2.05l3.484 3.486a6.951 6.951 0 0 1 2.051 4.949zm-6.949-7.021a5.01 5.01 0 0 0 -1.051-.78v4.316a1 1 0 0 0 1 1h4.316a4.983 4.983 0 0 0 -.781-1.05zm4.949 7.021c0-.165-.032-.323-.047-.485h-4.953a3 3 0 0 1 -3-3v-4.953c-.162-.015-.321-.047-.485-.047h-4.515a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3z'/%3e%3c/svg%3e");
  display: inline-block;
  vertical-align: -2px;
  margin-right: 5px;
  margin-left: 1px;
  height: 14px;
  width: 14px;
}
body.no-file-icons .nav-folder-children .nav-file-title-content:first-child::before {
  display: none;
}

body.no-file-icons .workspace-leaf-content[data-type=starred] .item-list .nav-file-icon {
  display: none;
}

div.nav-folder .nav-file-title-content::before {
  display: none;
}

.nav-folder-collapse-indicator {
  width: unset !important;
}

body:not(.minimal-icons-off) svg.document {
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg data-name='Layer 1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m17 14a1 1 0 0 1 -1 1h-8a1 1 0 0 1 0-2h8a1 1 0 0 1 1 1zm-4 3h-5a1 1 0 0 0 0 2h5a1 1 0 0 0 0-2zm9-6.515v8.515a5.006 5.006 0 0 1 -5 5h-10a5.006 5.006 0 0 1 -5-5v-14a5.006 5.006 0 0 1 5-5h4.515a6.958 6.958 0 0 1 4.95 2.05l3.484 3.486a6.951 6.951 0 0 1 2.051 4.949zm-6.949-7.021a5.01 5.01 0 0 0 -1.051-.78v4.316a1 1 0 0 0 1 1h4.316a4.983 4.983 0 0 0 -.781-1.05zm4.949 7.021c0-.165-.032-.323-.047-.485h-4.953a3 3 0 0 1 -3-3v-4.953c-.162-.015-.321-.047-.485-.047h-4.515a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3z'/%3e%3c/svg%3e");
  height: 14px;
  width: 14px;
}

body:not(.minimal-icons-off) svg.folder {
  -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7,0H4A4,4,0,0,0,0,4V7a4,4,0,0,0,4,4H7a4,4,0,0,0,4-4V4A4,4,0,0,0,7,0ZM9,7A2,2,0,0,1,7,9H4A2,2,0,0,1,2,7V4A2,2,0,0,1,4,2H7A2,2,0,0,1,9,4Z'/%3e%3cpath d='M20,0H17a4,4,0,0,0-4,4V7a4,4,0,0,0,4,4h3a4,4,0,0,0,4-4V4A4,4,0,0,0,20,0Zm2,7a2,2,0,0,1-2,2H17a2,2,0,0,1-2-2V4a2,2,0,0,1,2-2h3a2,2,0,0,1,2,2Z'/%3e%3cpath d='M7,13H4a4,4,0,0,0-4,4v3a4,4,0,0,0,4,4H7a4,4,0,0,0,4-4V17A4,4,0,0,0,7,13Zm2,7a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V17a2,2,0,0,1,2-2H7a2,2,0,0,1,2,2Z'/%3e%3cpath d='m20 13h-3a4 4 0 0 0-4 4v3a4 4 0 0 0 4 4h3a4 4 0 0 0 4-4v-3a4 4 0 0 0-4-4zm2 7a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2z'/%3e%3c/svg%3e");
  height: 14px;
  width: 14px;
}


/* Navigation Typo */
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header-container {
  height: auto;
}
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-container-inner {
  flex-direction:column;
  padding:9px 8px 4px 8px;
}
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header {
  padding:0;
  margin-bottom:2px;
  height:auto;
}
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header .workspace-tab-header-inner {
  padding:0;
}
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header .workspace-tab-header-inner-icon {
  border-radius:6px;
  padding:5px 6px;
  margin:0;
  width:100%;
}
.mod-left-split > .workspace-tabs:nth-child(3)  .workspace-tab-header-inner-icon {
  font-size: var(--font-small);
  font-weight:500;
  display:flex;
  align-items:center;
  color:var(--text-bold);
}
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header-inner-icon svg {
  margin-right:6px;
}
.mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header-container {
  border:none; 
}


body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header .workspace-tab-header-inner-icon:after {
  content:"Note";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="File explorer"] .workspace-tab-header-inner-icon:after {
  content:"Files";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Search"] .workspace-tab-header-inner-icon:after {
  content:"Search";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Calendar"] .workspace-tab-header-inner-icon:after {
  content:"Calendar";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Graph view"] .workspace-tab-header-inner-icon:after,
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label*="Graph of"] .workspace-tab-header-inner-icon:after {
  content:"Graph";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Search"] .workspace-tab-header-inner-icon:after {
  content:"Search";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label*="Outline of"] .workspace-tab-header-inner-icon:after {
  content:"Outline";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Starred"] .workspace-tab-header-inner-icon:after {
  content:"Starred";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Dictionary"] .workspace-tab-header-inner-icon:after {
  content:"Dictionary";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label="Tag pane"] .workspace-tab-header-inner-icon:after {
  content:"Tags";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label*="Backlinks for"] .workspace-tab-header-inner-icon:after {
  content:"Backlinks";
}
body .mod-left-split > .workspace-tabs:nth-child(3) .workspace-tab-header[aria-label*="Outgoing links from"] .workspace-tab-header-inner-icon:after {
  content:"Outlinks";
}


/* No File Open Screen */
.empty-state {
  height: 100%;
  width:100%;
  background-position: center center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m195.58 27.928c-2.825 1.791-1.7 9.629 1.688 11.75 3.827 2.397 8.066-0.555 8.718-6.072 0.523-4.421-1.679-6.996-5.984-6.996-1.289 0-3.279 0.593-4.422 1.318m-8.903 38.088c-11.276 11.522-22.688 27.245-32.037 44.14-2.853 5.157-5.308 9.561-5.455 9.787-0.147 0.227-5.121-2.867-11.053-6.876-15.104-10.206-41.258-22.557-45.446-21.462-5.5 1.438-11.623 20.622-14.648 45.895-0.978 8.164-1.928 15.005-2.113 15.201-0.185 0.197-8.493-1.703-18.463-4.221-20.499-5.177-41.459-8.318-50.547-7.575l-6.132 0.501-0.466 8.025c-0.954 16.433 10.923 52.926 17.787 54.648 9.834 2.468 10.12-2.493 1.544-26.735-7.978-22.553-7.848-23.316 3.729-22.007 24.711 2.796 58.976 13.349 87.953 27.088l18.36 8.705v11.389c0 20.608 3.586 31.856 10.156 31.856 5.727 0 7.791-3.799 5.758-10.596-0.956-3.196-2.222-9.935-2.813-14.976l-1.074-9.166 3.593 1.923c21.561 11.539 42.351 47.189 46.13 79.101l1.087 9.183-9.602-9.375c-5.281-5.156-13.619-14.843-18.528-21.527-8.029-10.929-9.398-12.107-13.614-11.718-11.494 1.06-4.311 15.49 19.881 39.939l11.262 11.381-9.322-0.976c-65.188-6.826-97.008-24.296-128.38-70.482-7.615-11.209-9.468-13.023-13.302-13.023-9.094 0-7.806 7.364 4.22 24.124 10.761 14.999 11.831 12.691-10.55 22.752-29.926 13.453-27.445 18.008 23.812 43.73 50.858 25.522 100.81 30.336 141.92 13.678l9.855-3.993 9.677 3.97c37.346 15.322 96.432 11.127 133.12-9.45 12.265-6.88 6.633-16.587-6.639-11.443-42.438 16.451-69.29 20.701-98.514 15.594-7.331-1.281-5.797-1.889 11.227-4.444 37.977-5.701 65.113-17.295 85.825-36.671l9.783-9.151 14.523 5.991c7.988 3.295 14.823 6.291 15.19 6.658s-2.856 2.857-7.162 5.534c-7.889 4.904-9.715 8.735-5.954 12.496 5.696 5.696 34.579-10.527 33.761-18.962-0.456-4.701-1.41-5.36-19.6-13.537-21.92-9.853-20.967-8.49-13.154-18.812 21.21-28.024 38.672-71.271 37.428-92.696l-0.466-8.025-6.848-0.49c-8.93-0.64-35.486 3.565-52.85 8.369-7.557 2.091-14.211 3.81-14.787 3.821-0.576 0.01-1.52-4.727-2.097-10.528-2.593-26.065-9.632-49.485-15.321-50.973-4.188-1.095-30.342 11.256-45.446 21.462-5.932 4.009-10.919 7.103-11.083 6.876-0.164-0.226-4.221-7.136-9.016-15.355-10.082-17.281-12.118-19.373-17.532-18.014-6.073 1.524-4.982 7.072 4.477 22.763 41.013 68.031 37.835 120.15-10.332 169.45l-10.801 11.055 0.978-8.594c2.858-25.087 12.764-47.2 28.873-64.449 11.133-11.921 12.518-14.661 9.129-18.051-7.967-7.967-31.253 16.506-42.075 44.219-3.368 8.623-4.5 10.276-5.352 7.812-7.83-22.647-22.528-42.532-42.211-57.109l-13.432-9.948 1.022-7.097c3.964-27.53 26.406-72.846 48.384-97.701l6.89-7.794 3.722 3.497c5.317 4.994 11.76 4.67 13.097-0.66 0.896-3.568-0.076-5.223-6.885-11.718-10.102-9.637-9.899-9.67-23.048 3.765m-74.175 47.66c3.867 2.147 12.422 7.454 19.01 11.793l11.979 7.891-2.828 7.173c-1.555 3.945-4.409 13.624-6.343 21.508l-3.515 14.336-10.324-5.146c-5.677-2.83-14.803-6.831-20.278-8.891l-9.956-3.746 0.948-14.844c0.818-12.818 4.32-30.902 6.745-34.829 1.01-1.636 5.959-0.019 14.562 4.755m192.62 5.201c1.525 5.516 3.208 16.797 3.74 25.068l0.967 15.04-6.083 1.999c-3.346 1.1-12.55 4.996-20.453 8.659l-14.369 6.66-1.832-8.854c-1.007-4.871-3.814-14.466-6.237-21.323-2.422-6.857-3.921-12.838-3.33-13.289 12.08-9.234 40.531-25.412 43.157-24.542 0.917 0.304 2.915 5.066 4.44 10.582m80.822 39.128c0 5.874-10.911 36.173-17.286 48.006-32.397 60.125-69.853 84.563-140.46 91.643l-10.09 1.012 12.541-13.063c26.908-28.028 39.672-54.594 39.672-82.572v-11.938l18.359-8.677c40.3-19.046 97.266-33.343 97.266-24.411m-295.57 131.62c21.133 10.915 34.815 14.772 73.467 20.709 7.389 1.136 5.946 1.705-9.547 3.767-24.228 3.224-54.262-1.882-83.972-14.276-15.711-6.553-46.056-23.04-44.772-24.324 0.418-0.418 7.285-3.452 15.261-6.742l14.501-5.982 10.673 9.882c6.559 6.073 15.961 12.613 24.389 16.966m-87.631 33.976c-3.471 1.973-3.658 10.085-0.262 11.388 1.359 0.522 7.511 0.962 13.671 0.979 27.805 0.076 57.156 6.122 101.36 20.879 66.82 22.307 97.933 22.294 165.31-0.07 44.743-14.852 73.302-20.733 101.04-20.809 14.167-0.039 16.143-0.821 16.143-6.393 0-7.015-3.259-7.76-26.739-6.117-34.342 2.404-53.575 6.54-94.355 20.289-65.972 22.244-89.944 22.249-157.74 0.037-50.156-16.434-107.76-26.251-118.44-20.183' fill-rule='evenodd'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 400px 200px;
  opacity: 3%;
  
}

.empty-state-title {
  font-size: 0;
}

.empty-state-action {
  display: none;
}

.empty-state-container::AFTER {
  width: 100%;
}


/* Metadata Block in Reading View */
.markdown-preview-view .frontmatter-container {
  font-size: 0.75rem;
  font-weight: var(--font-medium);
  color: var(--text-muted);
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--color-border-1);
  border-radius: 0px;
  padding: 8px 16px 4px 0px;
}

.markdown-preview-view .frontmatter-container .frontmatter-container-header {
  font-size: 0.75rem;
  border-bottom: 0px;
  color: var(--text-faint);
}

.markdown-preview-view .frontmatter-container-header {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  content: "Metadata";
  padding-bottom: 4px;
  border-bottom: 1px solid var(--text-faint);
  margin: 0px;
}

.markdown-preview-view .frontmatter-container-header:hover {
  color: var(--text-normal);
}

.markdown-preview-view .frontmatter-container .frontmatter-alias {
  text-decoration: none;
  border-radius: 30px;
  background-color: var(--background-primary-alt);
  font-size: 0.75rem;
  font-weight: var(--font-medium);
  line-height: 1.5em;
  color: var(--text-muted);
  margin-left: 0px;
  margin-right: 2px;
  padding: 0px 8px 0px 8px;
  border: 1px solid transparent;
  white-space: nowrap;
}

body .markdown-preview-view pre.frontmatter.language-yaml {
  background: var(--background-primary);
  font-weight: var(--font-regular);
  text-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid var(--color-border-2);
  padding: 4px 0 0 0;
  margin-bottom: 0;
  margin-bottom: 16px;
}

code.language-yaml.is-loaded {
  font-family: var(--font-preview);
  font-weight: var(--font-regular);
  background-color: transparent;
  text-shadow: none;
  font-size: 0.875rem;
  line-height: 1.8em;
  padding: 4px 0 2px 0px;
  height: 4px;
  width: 0;
}

code.language-yaml.is-loaded:hover {
  height: 100%;
  width: 100%;
}

code.language-yaml.is-loaded::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' fill='hsl(20, 1.2%, 52.4%)' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E%0A");
  background-size: 16px 16px;
  background-position: 50% 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  left: calc(50% - 20px);
  top: -20px;
  padding: 16px;
}

code.language-yaml.is-loaded:hover::before {
  display: none;
}

.theme-dark code.language-yaml.is-loaded::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' fill='hsl(20, 1.4%, 59.4%)' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E%0A");
}

.theme-dark code.language-yaml.is-loaded:hover::before {
  display: none;
}

code.language-yaml.is-loaded .token {
  font-weight: var(--font-regular);
}

code.language-yaml.is-loaded .token.selector, code.language-yaml.is-loaded .token.attr-name, code.language-yaml.is-loaded .token.string, code.language-yaml.is-loaded .token.char, code.language-yaml.is-loaded .token.builtin, code.language-yaml.is-loaded .token.inserted {
  color: var(--color-orange);
}

code.language-yaml.is-loaded .token.boolean, code.language-yaml.is-loaded .token.number {
  color: #668ea5;
}

code.language-yaml.is-loaded .token.punctuation {
  display: visible;
}

code.language-yaml.is-loaded .token:not(.token.key.atrule) {
  color: var(--text-normal);
  padding-left: 4px;
}

code.language-yaml.is-loaded .token.key.atrule {
  color: var(--color-accent);
  font-weight: var(--font-semi-bold);
}

.cm-s-obsidian span.cm-hmd-frontmatter {
  color: var(--text-faint);
  opacity: 1;
  font-family: var(--font-mono);
  font-size: 1rem;
  line-height: 1em;
}

.frontmatter-container {
  display: none;
}


/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- UI ICO */

/* Ico (webkit) :: quick switcher */
body:not(.no-svg-replace) svg.go-to-file {
    -webkit-mask: url("data:image/svg+xml,%3Csvg id='Layer_1' height='100%' viewBox='0 0 24 24' width='100%' xmlns='http://www.w3.org/2000/svg' data-name='Layer 1'%3E%3Cpath d='m16 6a1 1 0 0 1 0 2h-8a1 1 0 0 1 0-2zm7.707 17.707a1 1 0 0 1 -1.414 0l-2.407-2.407a4.457 4.457 0 0 1 -2.386.7 4.5 4.5 0 1 1 4.5-4.5 4.457 4.457 0 0 1 -.7 2.386l2.407 2.407a1 1 0 0 1 0 1.414zm-6.207-3.707a2.5 2.5 0 1 0 -2.5-2.5 2.5 2.5 0 0 0 2.5 2.5zm-4.5 2h-6a3 3 0 0 1 -3-3v-14a3 3 0 0 1 3-3h12a1 1 0 0 1 1 1v8a1 1 0 0 0 2 0v-8a3 3 0 0 0 -3-3h-12a5.006 5.006 0 0 0 -5 5v14a5.006 5.006 0 0 0 5 5h6a1 1 0 0 0 0-2z'/%3E%3C/svg%3E");
    height: 16px;
    width: 16px;
}


/* Ico (webkit) :: command palette */
body:not(.no-svg-replace) svg.run-command {
    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3e%3cg fill='none'%3e%3cpath d='M9.3 17.85a3.15 3.15 0 1 1-3.15-3.15h11.7a3.15 3.15 0 1 1-3.15 3.15V6.15a3.15 3.15 0 1 1 3.15 3.15H6.15A3.15 3.15 0 1 1 9.3 6.15v11.7z' stroke='currentColor' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e");;
    height: 16px;
    width: 16px;
}

/* Ico (webkit) :: hotkey */
body:not(.minimal-icons-off) svg.any-key {
  -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3e%3cg fill='none'%3e%3cpath d='M9.3 17.85a3.15 3.15 0 1 1-3.15-3.15h11.7a3.15 3.15 0 1 1-3.15 3.15V6.15a3.15 3.15 0 1 1 3.15 3.15H6.15A3.15 3.15 0 1 1 9.3 6.15v11.7z' stroke='currentColor' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e");;
  vertical-align: -3px;
  height: 16px;
  width: 16px; 
}

/* Ico (webkit) :: links */
body:not(.no-svg-replace) svg.link {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="red" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 1 0-7.071-7.071L9.879 7.05L8.464 5.636L9.88 4.222a7 7 0 0 1 9.9 9.9l-1.415 1.414zm-2.828 2.828l-1.415 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 1 0 7.071 7.071l1.414-1.414l1.415 1.414zm-.708-10.607l1.415 1.415l-7.071 7.07l-1.415-1.414l7.071-7.07z"></path></svg>');
}

body:not(.no-svg-replace) svg.links-coming-in {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="red" d="M76.5 64.75l-5.833 -5.917 5.833 -5.917A20.833 20.833 0 1 0 47.167 23.333v0l-5.917 5.917 -5.917 -5.917 5.917 -5.917a29.167 29.167 0 1 1 41.667 41.25h0l-5.917 5.917ZM64.75 76.5l-5.917 5.917A29.167 29.167 0 0 1 17.583 41.167l5.917 -5.917 5.917 5.917 -5.917 5.917A20.833 20.833 0 1 0 52.833 76.667v0l5.917 -5.833 5.917 5.833Zm-3 -44.167 5.917 5.917L38.25 67.667l-5.917 -5.917L61.75 32.333Z M79.917 85.25H83.333a13.667 13.667 0 0 1 12.167 7.667V91.667A15.583 15.583 0 0 0 79.917 75.667v-8.333L64.75 80.417l15.167 12.833Z"></path></svg>');
}

body:not(.no-svg-replace) svg.links-going-out {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="red" d="M76.5 64.75l-5.833 -5.917 5.833 -5.917A20.833 20.833 0 1 0 47.167 23.333v0l-5.917 5.917 -5.917 -5.917 5.917 -5.917a29.167 29.167 0 1 1 41.667 41.25h0l-5.917 5.917ZM64.75 76.5l-5.917 5.917A29.167 29.167 0 0 1 17.583 41.167l5.917 -5.917 5.917 5.917 -5.917 5.917A20.833 20.833 0 1 0 52.833 76.667v0l5.917 -5.833 5.917 5.833Zm-3 -44.167 5.917 5.917L38.25 67.667l-5.917 -5.917L61.75 32.333Z M79.917 85.25H76.917a13.667 13.667 0 0 0 -12.167 7.667V91.667A15.583 15.583 0 0 1 79.917 75.667v-8.333l15.167 12.75L79.917 93.25Z"></path></svg>');
}

/* Ico (webkit) :: Nav File Explorer */
body:not(.no-sanctum-icons) .workspace-tab-header[aria-label="File explorer"] .workspace-tab-header-inner-icon svg.folder {
  -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3e%3ccircle cx='18' cy='12' r='0' fill='currentColor'%3e%3canimate attributeName='r' values='0;2;0;0' dur='1.5s' repeatCount='indefinite' begin='.67' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' calcMode='spline'/%3e%3c/circle%3e%3ccircle cx='12' cy='12' r='0' fill='currentColor'%3e%3canimate attributeName='r' values='0;2;0;0' dur='1.5s' repeatCount='indefinite' begin='.33' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' calcMode='spline'/%3e%3c/circle%3e%3ccircle cx='6' cy='12' r='0' fill='currentColor'%3e%3canimate attributeName='r' values='0;2;0;0' dur='1.5s' repeatCount='indefinite' begin='0' keySplines='0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8' calcMode='spline'/%3e%3c/circle%3e%3c/svg%3e");
  background-color: currentColor;
}

/* Ico (webkit) :: Active Note Dragger */
body:not(.no-sanctum-icons) div.view-header-icon svg {
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 32 32' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cpath d='M10 6h4v4h-4zm8 0h4v4h-4zm-8 8h4v4h-4zm8 0h4v4h-4zm-8 8h4v4h-4zm8 0h4v4h-4z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z'/%3E%3C/svg%3E");
}

/* Ico (webkit) :: Active Note -> Close */
body:not(.no-svg-replace)
.view-header .view-actions
.view-action.mod-close-leaf[aria-label="Close"]
svg.cross {
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="red" d="M67.467 26.433l-17.679 17.675l-17.675 -17.675l-5.892 5.892L43.896 50l-17.675 17.675l5.892 5.892l17.675 -17.675l17.679 17.675l5.892 -5.892L55.683 50l17.675 -17.675z"></path></svg>');
    height: 12px;
    width: 12px;

}

/* Ico (webkit) :: Reading Mode -> Edit Mode */
body:not(.is-mobile) .view-action[aria-label*='Current view: reading'] svg {
    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg class='feather feather-feather' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z'/%3e%3cline x1='16' x2='2' y1='8' y2='22'/%3e%3cline x1='17.5' x2='9' y1='15' y2='15'/%3e%3c/svg%3e");
    height: 15px;
    width: 15px;
}

/* Ico (webkit) :: Edit Mode -> Reading Mode */
body:not(.is-mobile) .view-action[aria-label*='Current view: editing'] svg {
    -webkit-mask: url("data:image/svg+xml;charset=UTF-8,%3csvg enable-background='new 0 0 32 32' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3e%3cpolyline points='649 138 675 138 675 156 661 156'/%3e%3cpolyline points='653 156 649 156 649 142'/%3e%3cpolyline points='661 156 653 162 653 156'/%3e%3c/g%3e%3cpath d='M16,25c-4.265,0-8.301-1.807-11.367-5.088c-0.377-0.403-0.355-1.036,0.048-1.413c0.404-0.377,1.036-0.355,1.414,0.048 C8.778,21.419,12.295,23,16,23c4.763,0,9.149-2.605,11.84-7c-2.69-4.395-7.077-7-11.84-7c-4.938,0-9.472,2.801-12.13,7.493 c-0.272,0.481-0.884,0.651-1.363,0.377c-0.481-0.272-0.649-0.882-0.377-1.363C5.147,10.18,10.333,7,16,7 c5.668,0,10.853,3.18,13.87,8.507c0.173,0.306,0.173,0.68,0,0.985C26.853,21.819,21.668,25,16,25z'/%3e%3cpath d='m16 21c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-8c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z'/%3e%3c/svg%3e ");
}

/* Ico (webkit) :: File Explorer -> New Note */
body:not(.no-svg-replace)
.workspace-leaf-content[data-type="file-explorer"]
.nav-header
.nav-action-button
svg.document {
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg data-name='Layer 1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m17 14a1 1 0 0 1 -1 1h-8a1 1 0 0 1 0-2h8a1 1 0 0 1 1 1zm-4 3h-5a1 1 0 0 0 0 2h5a1 1 0 0 0 0-2zm9-6.515v8.515a5.006 5.006 0 0 1 -5 5h-10a5.006 5.006 0 0 1 -5-5v-14a5.006 5.006 0 0 1 5-5h4.515a6.958 6.958 0 0 1 4.95 2.05l3.484 3.486a6.951 6.951 0 0 1 2.051 4.949zm-6.949-7.021a5.01 5.01 0 0 0 -1.051-.78v4.316a1 1 0 0 0 1 1h4.316a4.983 4.983 0 0 0 -.781-1.05zm4.949 7.021c0-.165-.032-.323-.047-.485h-4.953a3 3 0 0 1 -3-3v-4.953c-.162-.015-.321-.047-.485-.047h-4.515a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3z'/%3e%3c/svg%3e");
    height: 15px;
    width: 15px;
    margin-top: 1px;
}
/* Ico (webkit) :: File Explorer -> Add Folder */
body:not(.no-svg-replace) 
.nav-action-button[aria-label="New folder"]
svg.folder {
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7,0H4A4,4,0,0,0,0,4V7a4,4,0,0,0,4,4H7a4,4,0,0,0,4-4V4A4,4,0,0,0,7,0ZM9,7A2,2,0,0,1,7,9H4A2,2,0,0,1,2,7V4A2,2,0,0,1,4,2H7A2,2,0,0,1,9,4Z'/%3e%3cpath d='M7,13H4a4,4,0,0,0-4,4v3a4,4,0,0,0,4,4H7a4,4,0,0,0,4-4V17A4,4,0,0,0,7,13Zm2,7a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V17a2,2,0,0,1,2-2H7a2,2,0,0,1,2,2Z'/%3e%3cpath d='m20 13h-3a4 4 0 0 0-4 4v3a4 4 0 0 0 4 4h3a4 4 0 0 0 4-4v-3a4 4 0 0 0-4-4zm2 7a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2z'/%3e%3cpath d='M14,7h3v3a1,1,0,0,0,2,0V7h3a1,1,0,0,0,0-2H19V2a1,1,0,0,0-2,0V5H14a1,1,0,0,0,0,2Z'/%3e%3c/svg%3e");
    height: 15px;
    width: 15px;
    margin-top: 1px;
}

/* -- — ————————————————————————————————————————————————————————————————————————————————————— — - -- External Links */

.external-link {
  margin-left: 0;
}
.external-link::after {
  display: none;
}

/* External :: Twitter */
.external-link[href*="twitter.com"] {
  position: relative;
  margin-left: 24px;
  left: calc(-1 * (24px - 1px));
  background-image: none;
}

.external-link[href*="twitter.com"]::after {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg id='icon' fill='hsl(202.8, 89.1%, 53.1%)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogo--twitter%3C/title%3E%3Cpath d='M11.92,24.94A12.76,12.76,0,0,0,24.76,12.1c0-.2,0-.39,0-.59A9.4,9.4,0,0,0,27,9.18a9.31,9.31,0,0,1-2.59.71,4.56,4.56,0,0,0,2-2.5,8.89,8.89,0,0,1-2.86,1.1,4.52,4.52,0,0,0-7.7,4.11,12.79,12.79,0,0,1-9.3-4.71,4.51,4.51,0,0,0,1.4,6,4.47,4.47,0,0,1-2-.56v.05A4.53,4.53,0,0,0,9.5,17.83a4.53,4.53,0,0,1-2,.08A4.51,4.51,0,0,0,11.68,21,9.05,9.05,0,0,1,6.07,23,9.77,9.77,0,0,1,5,22.91a12.77,12.77,0,0,0,6.92,2' transform='translate(0)'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 4px;
}

.theme-dark .external-link[href*="twitter.com"]::after {
  background-image: url("data:image/svg+xml,%3Csvg id='icon' fill='hsl(202.8, 89.1%, 53.1%)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogo--twitter%3C/title%3E%3Cpath d='M11.92,24.94A12.76,12.76,0,0,0,24.76,12.1c0-.2,0-.39,0-.59A9.4,9.4,0,0,0,27,9.18a9.31,9.31,0,0,1-2.59.71,4.56,4.56,0,0,0,2-2.5,8.89,8.89,0,0,1-2.86,1.1,4.52,4.52,0,0,0-7.7,4.11,12.79,12.79,0,0,1-9.3-4.71,4.51,4.51,0,0,0,1.4,6,4.47,4.47,0,0,1-2-.56v.05A4.53,4.53,0,0,0,9.5,17.83a4.53,4.53,0,0,1-2,.08A4.51,4.51,0,0,0,11.68,21,9.05,9.05,0,0,1,6.07,23,9.77,9.77,0,0,1,5,22.91a12.77,12.77,0,0,0,6.92,2' transform='translate(0)'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E");
}